.itemContainer {
  display: flex;
  z-index: 10;

  &:nth-of-type(odd) {
    justify-content: start;
  }
  &:nth-of-type(even) {
    justify-content: end;
  }
}

.imageContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  bottom: 0;
}

.imageContainer img {
  position: relative;
  max-width: none;
  height: auto;
}

.error {
  color: var(--cl-orange);
}

.equipmentContainer {
  display: flex;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
