.solid {
  position: relative;
  border-radius: 12px;
  background-color: var(--cl-orange);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 12px;
  overflow: hidden;
}

.outline {
  position: relative;
  border-radius: 12px;
  border: 2px solid var(--cl-orange);
  background-color: transparent;
  padding: 12px;
  overflow: hidden;
}
