.ilvlContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .label {
    color: var(--cl-light);
  }

  .requiredIlvl {
    color: var(--cl-orange);
    font-size: 1.5rem;
    font-weight: bold;
  }

  .currentIlvl {
    font-size: 1.5rem;
    font-weight: bold;

    &.aboveRequirement {
      color: var(--cl-green);
    }

    &.belowRequirement {
      color: var(--cl-red);
    }
  }
}

.infoText {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
  &.aboveRequirement {
    color: var(--cl-green);
  }

  &.belowRequirement {
    color: var(--cl-red);
  }
}
