.item {
  margin: 1px;
  overflow: hidden;
  height: fit-content;
  width: fit-content;
  border-radius: 20%;
  border-width: 4px;
  border-color: var(--cl-dark-blue);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
